html {
  box-sizing: border-box;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  font-optical-sizing: auto;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img, svg, picture{
    width: 100%;
    display: block;
}

body {
  font-family: Instrument Sans, Arial, Helvetica, sans-serif;
  line-height: 150%;
  margin: 0;
  padding: 0;
  background-color: var(--body-background);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6{
  line-height: 120%;
}

p {
  font-size: 1.125rem;
}

a {
  color: inherit;
  text-decoration: none;
}

section {
  margin: 0;
  width: 100%;
  padding-top: 96px;
  padding-bottom: 96px;

  & h2{
    font-size: 2rem;
  }
}