@use './abstracts' as*;

[popover]::backdrop {
    transition: 0.3s all;
    background: rgb(0 0 0 / 70%);
    backdrop-filter: blur(2px);
}

#popover[open]{
    transition: 0.3s all;
}

.popover{
    min-width: 80%;
    border: none;
    border-radius: 5px;
    padding: 2rem;
    box-shadow: 1rem 1rem 1rem rgba($color: #000000, $alpha: 0.3);

    @include tablet {
        min-width: 75%;
    }

    @include desktop {
        max-width: 50%;
    }
    &__inputs{
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
    }
    & input{
        min-width: 20rem;
        border: 2px solid grey;
        border-radius: 5px;
        padding: 1rem;  
        flex: 1 1 auto;
        &:focus-visible{
            border: 2px solid lightblue;
        }
    }
}